@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

/* Main styles */

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

main {
  padding-top: 4rem;
  max-width: 800px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 200px;
  margin: .25rem 0;
  padding: .5rem;

  resize: none;
  outline: none;
  box-shadow: none;
  resize: none;
}


.buttons {
  margin: .5rem 0;
}

button {
  min-width: 125px;
  height: 50px;
  margin-right: .5rem;
  padding: 0 25px 0 25px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;

  transition: background .2s;
}

button:hover {
  background: #fff;
  color: #000;
}
