<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="not-found content">
      <h2>Oops, I can't seem to find this page (っ °Д °;)っ</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
