<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="about content">
      <h2>About Bladestore</h2>
      <p>This simple website was designed for experiments using Node.js, the original was a blog website. However, doing websites of topics that matter to you make the experience of learning more interesting and engaging. This is why I created a website with a Xenoblade 2 theme, because it's my favorite game of all time, and doing stuff related to this game improves retention and makes the learning process more enjoyable.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet sem vitae libero tristique, id cursus leo egestas. Integer consequat gravida metus, sit amet elementum dui bibendum quis. Morbi eget finibus quam. Curabitur non dui in sapien condimentum blandit. Nam diam lectus, rutrum at ligula pulvinar, efficitur mollis arcu. Etiam sed mi a neque iaculis venenatis a id dui. Donec sit amet ipsum ut metus sodales tincidunt. Mauris condimentum leo nec sem tincidunt facilisis sed et lacus.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet sem vitae libero tristique, id cursus leo egestas. Integer consequat gravida metus, sit amet elementum dui bibendum quis. Morbi eget finibus quam. Curabitur non dui in sapien condimentum blandit. Nam diam lectus, rutrum at ligula pulvinar, efficitur mollis arcu. Etiam sed mi a neque iaculis venenatis a id dui. Donec sit amet ipsum ut metus sodales tincidunt. Mauris condimentum leo nec sem tincidunt facilisis sed et lacus.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
