<header>
  <div class="title">
    <a href="/" class="logo"><h1>Bladestore</h1></a>
    <p>Keep track of your blades</p>
  </div>
  <nav>
    <ul>
      <li><a href="/">Blades</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blades/add">New blade</a></li>
    </ul>
  </nav>
</header>