body {
    background: darkslategrey;
    font: normal 15pt Consolas;
}
header {
    color: whitesmoke;
    text-align: center;
}
section {
    background: wheat;
    border-radius:10px;
    padding: 15px;
    width: fit-content;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}
footer{
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}
select#selres{
    width: 150px;
}
h1{
    font-size: 30px;
}