*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles */
nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    /* try commentign the text-align below to see its effect */
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

/* flex styles */

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1; /* This is the same as using "flex: 1 1 0;" */
        
    }

}
